
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/

*.log
.keystore
output/

.navigation/

captures/

*.iml
.idea/

*.jks
output.json


#gradle.properties
/yto_data/src/main/java/com/yto/pda/data/dao